In [1]:
import pandas as pd
import numpy as np
import sqlite3
import requests
import random
import os
import mysql.connector
import time

1.) EXTRACT

In [2]:
amount = 5

In [3]:
api_url_books = f"https://api.generadordni.es/v2/text/words?results={amount}&words=3&language=en"
response = requests.get(api_url_books)
bookstitles = response.json()

if not hasattr(bookstitles, "__len__") and bookstitles["error"] == 'You have exceeded the 100 requests today!':
    bookstitles = []

In [4]:
api_url_authors = f"https://api.generadordni.es/v2/profiles/person?results={amount}"
#https://jsonplaceholder.typicode.com/users?_start=0&_limit={5}
response = requests.get(api_url_authors)
authors = response.json()

authors

[{'nif': '87028181E',
  'nie': 'X1440229S',
  'name': 'MARTINA',
  'surname': 'GONZALEZ',
  'surnname2': 'CAMPO',
  'gender': 'male',
  'fullname': 'MARTINA GONZALEZ CAMPO',
  'birthdate': '25/07/1991',
  'age': 30,
  'phonenumber': '739398221',
  'username': 'martina_91',
  'email': 'martina_91@iname.com',
  'password': 'pD4zC1dC',
  'municipality': 'Elche/Elx',
  'municipality_inecode': '03065',
  'province': 'Alicante/Alacant',
  'province_inecode': '03',
  'address': 'Rambla Miguel de Cervantes',
  'address_number': '68',
  'address_zipcode': '03822',
  'iban': 'ES5721034561258120973355',
  'bic': 'UCJAES2B762',
  'card_number': '4050559668727254',
  'card_expiration_date': '08/25',
  'card_cvc': '142',
  'ssn': '100354701500',
  'passport': 'XEC988382Q'},
 {'nif': '90570620R',
  'nie': 'Y8600368S',
  'name': 'JULIA',
  'surname': 'SAIZ',
  'surnname2': 'REINA',
  'gender': 'female',
  'fullname': 'JULIA SAIZ REINA',
  'birthdate': '13/05/1935',
  'age': 87,
  'phonenumber': '750718165',
  'username': 'julia_35',
  'email': 'julia_35@netscape.net',
  'password': 'bD5iM2kJ',
  'municipality': 'Villaluenga de la Vega',
  'municipality_inecode': '34218',
  'province': 'Palencia',
  'province_inecode': '34',
  'address': 'Carrera San Pedro',
  'address_number': '69',
  'address_zipcode': '34064',
  'iban': 'ES1520852812061443754619',
  'bic': 'CAZRESM1274',
  'card_number': '4610653238492391',
  'card_expiration_date': '09/22',
  'card_cvc': '857',
  'ssn': '282153792077',
  'passport': 'XEV334977F'},
 {'nif': '51560295E',
  'nie': 'X8539300K',
  'name': 'POL',
  'surname': 'PINTO',
  'surnname2': 'DA SILVA',
  'gender': 'male',
  'fullname': 'POL PINTO DA SILVA',
  'birthdate': '31/12/1937',
  'age': 84,
  'phonenumber': '709332849',
  'username': 'pol_37',
  'email': 'pol_37@usa.com',
  'password': 'fC8bF4cC',
  'municipality': 'Pera, La',
  'municipality_inecode': '17130',
  'province': 'Girona',
  'province_inecode': '17',
  'address': 'Pasaje Iglesia',
  'address_number': '19',
  'address_zipcode': '17854',
  'iban': 'ES6200497562418976180446',
  'bic': 'BSABESM1692',
  'card_number': '4543094004962774',
  'card_expiration_date': '08/22',
  'card_cvc': '414',
  'ssn': '166294127547',
  'passport': 'IXT302684H'},
 {'nif': '39452417B',
  'nie': 'X6970913G',
  'name': 'MARIANO',
  'surname': 'TIRADO',
  'surnname2': 'ARAUJO',
  'gender': 'female',
  'fullname': 'MARIANO TIRADO ARAUJO',
  'birthdate': '22/09/1994',
  'age': 27,
  'phonenumber': '605564935',
  'username': 'mariano_94',
  'email': 'mariano_94@unforgettable.com',
  'password': 'gF4bM3bI',
  'municipality': 'Cabezón de Liébana',
  'municipality_inecode': '39013',
  'province': 'Cantabria',
  'province_inecode': '39',
  'address': 'Cuesta Madrid',
  'address_number': '4',
  'address_zipcode': '39845',
  'iban': 'ES0420857808196941218582',
  'bic': 'CAZRESM1289',
  'card_number': '4471230658683516',
  'card_expiration_date': '10/23',
  'card_cvc': '029',
  'ssn': '479521200934',
  'passport': 'GKW697802T'},
 {'nif': '16940806H',
  'nie': 'Z7503248D',
  'name': 'ADRIANA',
  'surname': 'MESA',
  'surnname2': 'ESCOBAR',
  'gender': 'male',
  'fullname': 'ADRIANA MESA ESCOBAR',
  'birthdate': '09/06/1942',
  'age': 79,
  'phonenumber': '721630531',
  'username': 'adriana_42',
  'email': 'adriana_42@netscape.net',
  'password': 'dN7cF3mH',
  'municipality': 'Villagatón',
  'municipality_inecode': '24210',
  'province': 'León',
  'province_inecode': '24',
  'address': 'Rambla San Roque',
  'address_number': '19',
  'address_zipcode': '24387',
  'iban': 'ES5400811202326322997639',
  'bic': 'BSABESBB772',
  'card_number': '4486548391388678',
  'card_expiration_date': '05/26',
  'card_cvc': '463',
  'ssn': '277830940395',
  'passport': 'TCM760000V'}]

Of cource, request is more often sent as an entry json, than separated, but I can't find a free API service with a custom request

In [5]:
api_url_prices = f"https://api.generadordni.es/v2/misc/phonenumber?results={amount}"
response = requests.get(api_url_prices)
prices = response.json()

prices

['779489466', '616900607', '767792707', '663645577', '787379099']

2.) TRANSFORM

In [6]:
def between(price):#0-10000
    return int(price) % 10000 + 0

In [7]:
prices = list(map(between, prices))

prices

[9466, 607, 2707, 5577, 9099]

3.) LOADING

In [8]:
from config import host, user, password, db_name

print(host, user, password, db_name)

localhost Roma root BooksAndAuthors

In [9]:
try:
    connection = mysql.connector.connect(
        host=host,
        port=3306,
        user=user,
        passwd=password,
        database=db_name
    )
    
    print("successfuly connected...")
    try:
        with connection.cursor() as cursor:
            
#             createADatabase = "CREATE DATABASE BooksAndAuthors"
#             cursor.execute(createADatabase)

#             createTableQuery = "CREATE TABLE Authors (AuthID INT AUTO_INCREMENT PRIMARY KEY, Auth_Name VARCHAR(15), Surname VARCHAR(15))"
#             cursor.execute(createTableQuery)
            
            for auth in authors:
        
                name = auth["name"]
                surname = auth["surname"]
                
                #checking if this author is already into the table
                doesRowExist = "SELECT COUNT(*) " \
                                "FROM `Authors` " \
                                f"WHERE `Auth_Name`='{name}' AND `Surname`='{surname}'"
                
                cursor.execute(doesRowExist)
                amountExistingRow = cursor.fetchone()[0]

                if amountExistingRow == 0:
                    insertQuery = "INSERT INTO `Authors` " \
                                    "(`Auth_Name`, `Surname`)" \
                                    " VALUES " \
                                    f"('{name}', '{surname}')"
                    
                    cursor.execute(insertQuery)
                    
            connection.commit()
            print("The authors were append into the 'Authors' table")
            
            
            querySelect = "SELECT * FROM `Authors`"
            cursor.execute(querySelect)
            
            authorsById = []
            for auth in cursor:
                authorsById.append(auth[0])
                
            #Continue to generate. Namely, I drawed every authors out of the table 'Authors' to assign every generated book
            #its author.
            #Of cource, data are recieved from different APIs and a problem for data engineers doesn't consists of uniting
            #recieved data and data which are based on an already existing database. Opositly, A data engineer work consists of cleanng
            #recieved data and appending to a specific table from database
            #P.S.: it is things how I understand it
            
            chosenAuthorsById = []
            ranArray = random.sample(range(len(authorsById)), amount)
            
            for idx in ranArray:
                chosenAuthorsById.append(authorsById[idx])
                
            #end of the generating

#             createTableQuery = "CREATE TABLE `Books` (AuthID INT KEY, Title VARCHAR(50), Price FLOAT)"
#             cursor.execute(createTableQuery)

#             uniteByKey = "ALTER TABLE `booksandauthors`.`Books` " \
#                         "ADD CONSTRAINT `AuthID` " \
#                         "FOREIGN KEY (`AuthID`) " \
#                         "REFERENCES `booksandauthors`.`Authors` (`AuthID`) " \
#                         "ON DELETE NO ACTION " \
#                         "ON UPDATE NO ACTION"
#              cursor.execute(uniteByKey)

            for i in range(amount):
                idx = chosenAuthorsById[i]
                title = bookstitles[i]
                price = prices[i]
                insertQuery = "INSERT INTO `Books` " \
                                    "(`AuthID`, `Title`, `Price`)" \
                                    " VALUES " \
                                    f"({idx}, '{title}', {price})"
                
                cursor.execute(insertQuery)
            
            
            connection.commit()
            print("The authors were append into the 'Books' table")
                
                
            #!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            #practice
            
            print("\nPRACTICE\n")
            
            
            print("1.)Number of records in total\n")
            allAuthors = "SELECT COUNT(*) " \
                                "FROM `Authors`"
            cursor.execute(allAuthors)
            recordNumber = cursor.fetchone()[0]
            print(f"Number of authors is {recordNumber}\n")
            
            print("2.)Number of unique groups in the dataset\n")
            selectDistinctQuery = "SELECT `Title`, COUNT(`Title`) FROM `Books` GROUP BY `Title`"
            cursor.execute(selectDistinctQuery)
            uniqueBooks = cursor.fetchall()
            for title in uniqueBooks:
                print(f"The book quantity of '{title[0]}' equals to {title[1]} (it might be different author)")
            print("\n")
            
            
            print("3.)Number of unique groups in the dataset\n") 
            everyAuthor = "SELECT `AuthID`, `Auth_Name` FROM `Authors`"
            cursor.execute(everyAuthor)
            everyAuthor = cursor.fetchall()
            for auth in everyAuthor:
                idx = auth[0]
                quantityAuthorsBooks = "SELECT COUNT(*) FROM " \
                "(SELECT * FROM " \
                "(SELECT authors.AuthID, authors.Auth_Name, authors.Surname, books.Title, books.Price " \
                "FROM authors " \
                "INNER JOIN books ON authors.AuthID=books.AuthID) AS UNITED " \
                f"WHERE UNITED.AuthID = {idx} " \
                "GROUP BY UNITED.Title) AS CLEANED"
                cursor.execute(quantityAuthorsBooks)
                bookQuantity = cursor.fetchone()[0]
                AuthName = auth[1]
                print(f"{AuthName}'s books quantity equels to {bookQuantity}")
            print("\n")
            
            
            print("4.)Finding average price and time execution it\n")
            start_time = time.time()
            avaregeQuery = "SELECT AVG(`Price`) FROM `Books`"
            cursor.execute(avaregeQuery)
            avarege = cursor.fetchone()[0]
            print(f"The execution of finding the avarege price of all books in {time.time() - start_time}s and it equals to {avarege}")
    finally:
        connection.close();
except Exception as ex:
    print("Connection refused...")
    print(ex)

successfuly connected...
The authors were append into the 'Authors' table
The authors were append into the 'Books' table

PRACTICE

1.)Number of records in total
Number of authors is 20

2.)Number of unique groups in the dataset

The book quantity of 'Skill men number' equals to 1 (it might be different author)
The book quantity of 'Else broke drink' equals to 1 (it might be different author)
The book quantity of 'Heart up form' equals to 1 (it might be different author)
The book quantity of 'Dear sent lead' equals to 1 (it might be different author)
The book quantity of 'End game inch' equals to 1 (it might be different author)
The book quantity of 'Ask either want' equals to 12 (it might be different author)
The book quantity of 'Fit am are' equals to 12 (it might be different author)
The book quantity of 'Kill order carry' equals to 12 (it might be different author)
The book quantity of 'Flow off she' equals to 12 (it might be different author)
The book quantity of 'Will bar still' equals to 12 (it might be different author)
The book quantity of 'Suggest led such' equals to 1 (it might be different author)
The book quantity of 'Cat hunt gone' equals to 1 (it might be different author)
The book quantity of 'Favor huge word' equals to 1 (it might be different author)
The book quantity of 'Close stood bank' equals to 1 (it might be different author)
The book quantity of 'Possible wind broke' equals to 1 (it might be different author)


3.)Number of unique groups in the dataset

Leanne's books quantity equels to 4
Ervin's books quantity equels to 3
Clementine's books quantity equels to 2
Patricia's books quantity equels to 4
Chelsey's books quantity equels to 4
JUAN DIEGO's books quantity equels to 4
MARINA's books quantity equels to 5
NADIA's books quantity equels to 3
LAIA's books quantity equels to 3
EUSEBIO's books quantity equels to 4
JUAN RAMON's books quantity equels to 2
MIREIA's books quantity equels to 3
NADIA's books quantity equels to 1
IRIA's books quantity equels to 3
SANDRA's books quantity equels to 4
MARTINA's books quantity equels to 0
JULIA's books quantity equels to 0
POL's books quantity equels to 0
MARIANO's books quantity equels to 1
ADRIANA's books quantity equels to 0


4.)Finding average price and time execution it

The execution of finding the avarege price of all books in 0.0s and it equals to 6169.328571428571